<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimum-scale=1">
	<title>Document</title>
	<script type="text/javascript" src="./js/vue.js"></script>
	<script type="text/javascript" src="./js/jquery-3.2.0.min.js"></script>
</head>
<body>
   <div id="main">
        <h5>注册</h5>
	   	<div>
	   	   <label for="phone">手机号</label>
	   	   <input type="text" id="phone" placeholder="请输入手机号" v-model="phone">
	   </div>
	   <div>
	        <input placeholder="请输入验证码" v-model="code" > <span id="account" @click="geticon()">获取验证码</span>
	   </div>
	   <div>
	   	   <label for="password">密码</label>
	   	   <input type="password" v-model="password" placeholder="请设置密码">
	   </div>
	   <div>
	   	   <label for="tphone">推荐人</label>
	   	   <input type="text" placeholder="请输入推荐人手机号（非必填）" v-model="referee">
	   </div>
	   <a href="javascript:void(0);" @click="regist()">注册</a>
   </div>
   <script src="./js/public.js"></script>
   <script src="./js/sign.js"></script>
</body>
</html>